<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет модуля упругости при расятжении</title>
</head>
<body>
    <h1 style="color:#6a5acd; font-family:verdana;">Расчет модуля упругости при растяжении</h1>
    <form action="" method="post">
    <fieldset>
        <legend>Введите параметры</legend>
    <p>
        <label for="mn">Введите Соотношение матрица-наполнитель, МПа</label>
	    <input type="text" name="mn" required>
    </p><p>
	    <label for="plot">Введите Плотность, кг/м3</label>
	    <input type="text" name="plot" required>
    </p><p>
	    <label for="mup">Введите Модуль упругости, ГПа</label>
	    <input type="text" name="mup" required>
    </p><p>
	    <label for="ko">Введите Количество отвердителя, м.%</label>
	    <input type="text" name="ko" required>
    </p><p>
        <label for="seg">Введите Содержание эпоксидных групп,%_2</label>
	    <input type="text" name="seg" required>
    </p><p>
        <label for="tv">Введите Температура вспышки, С_2</label>
	    <input type="text" name="tv" required>
    </p><p>
        <label for="pp">Введите Поверхностная плотность, г/м2</label>
	    <input type="text" name="pp" required>
    </p><p>
        <label for="pr">Введите Прочность при растяжении, МПа</label>
	    <input type="text" name="pr" required>
    </p><p>
        <label for="ps">Введите Потребление смолы, г/м2</label>
	    <input type="text" name="ps" required>
    </p><p>
        <label for="yn">Введите Угол нашивки, град</label>
	    <input type="number" name="yn" min='0' max='90' step='1' required>
    </p><p>
        <label for="shn">Введите Шаг нашивки</label>
	    <input type="text" name="shn" required>
    </p><p>
        <label for="pln">Введите Плотность нашивки</label>
	    <input type="text" name="pln" required>
	</p>
    </fieldset>
	<p>
	    <input type="submit" value="Рассчитать">
        <input type="reset">
	</p>
    </form>
    <p>
    {% if message %}
        <p><b>{{message}}</b></p>
    {% endif %}
    </p>
</body>
<footer>
    <p>
        <a href="{{url_for('choose_prediction_method')}}"><button>Вернуться на главную страницу</button></a>
    </p>
</footer>
</html>